.todoCard {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .todoTitle {
    font-size: 20px;
    font-weight: bold;
  }
  
  .todoDescription {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .completeCheckbox {
    margin-top: 10px;
  }